/* styles for members-section @ invention-editor */

/* members section */
.Members {
    width: 100%;
    height: calc(100% - var(--navbar-height));
    /* position */
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--app-bg-color);
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* the content */
.Members .content {
    max-width: 50rem;
    width: 90%;
    height: max-content;
    /* background-color: rebeccapurple; */
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

/* header */
.header {
    width: 100%;
    height: 6rem;
    border-bottom: 1px solid #666;
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: .8rem 0;
}

/* form container */
.form {
    width: 100%;
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem 0;
}

.form .form-title h3 {
    height: 1.4rem;
}

.form .form-title p {
    font-size: .9rem;
}

.form .form-title {
    margin-bottom: 1rem;
}

/* member-roles */
.MemberRoles {
    width: 100%;
    margin-top: 1.3rem;
}

.MemberRoles .title {
    margin-bottom: .4rem;
}

.btn-submit {
    width: 100%;
    margin-top: 1.7rem;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 1.3rem 0;
}

.btn-submit>input[type=submit] {
    width: 10rem;
    height: 1.9rem;
    font-size: .9rem;
    cursor: pointer;
    color: #eee;
    font-weight: 600;
    border: none;
    border-radius: .6rem;
    outline: none;
    background-color: #238636;
}