/* styles for explore page */

.Explore {
    width: 100%;
    height: 100%;
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 2rem;
}

/* input wrapper */
.Explore .explore-input-wrapper {
    width: 100%;
    height: 4rem;
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Explore .explore-input-wrapper .explore-input {
    background-color: #eeeeeeaa;
    border: 2px solid #666;
    border-radius: 1.25rem;
    height: 3rem;
    width: fit-content;
    /* layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Explore .explore-input-wrapper .explore-input input {
    width: 18rem;
    height: 100%;
    padding: .1rem .3rem 0 1rem;
    outline: none;
    border: none;
    background-color: transparent;
}

.Explore .explore-input-wrapper .explore-input .icon-search {
    background-color: transparent;
    height: 100%;
    width: 2.4rem;
    padding: .6rem;
}

/* result counter */
.Explore .explore-input-wrapper .results-counter {
    width: 100%;
    text-align: center;
    font-size: .8rem;
    margin-top: .4rem;
}

/* content */
.Explore .content {
    width: 100%;
    height: calc(100% - 4rem);
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem 4rem 0 4rem;
    overflow-y: auto;
    mask-image: linear-gradient(to top, #00000088, #000, #000, #000, #000, #000, #00000088);
}

/* user-results @ seperated component */

/* repsonsive */

@media screen and (max-width: 800px) {
    .Explore .content {
        padding: 1rem 2.5rem 0 2.5rem;
    }
}

@media screen and (max-width: 540px) {
    .Explore .content {
        padding: 1rem 1.5rem 0 1.5rem;
    }
    .Explore .explore-input-wrapper .explore-input input {
        width: 12rem;
    }
}