/* styles for home page */

.Home {
    height: 100%;
    width: 100%;
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 6rem;
    padding-top: 1rem;
}

/* home header (title, description) */
.home-header .home-title {
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* home title */
.home-header .home-title {
    text-align: center;
    font-size: 2.9rem;
    font-weight: 400;
    color: #666;
}

/* home description */
.home-header .home-description {
    margin-top: 2.5rem;
    font-size: 1.15rem;
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home-header .home-description .inventions-info {
    color: #666;
    font-weight: 400;
    margin-bottom: .4rem;
    text-align: center;
    margin: 0 1rem;
}

.home-header .home-description .link-my-projects {
    color: #0038FF;
}

/* apps */
.Home .apps {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apps .app {
    text-align: center;
    margin: 0 .7rem;
    cursor: pointer;
    transition: transform .15s ease;
}

.apps .app:hover {
    transform: scale(1.03);
}

.apps .app .app-icon-container {
    background-color: #d9d9d966;
    border: 3px solid #ccc;
    width: 5.8rem;
    height: 5.8rem;
    border-radius: 1rem;
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .2rem;
}


/* responsive */

@media screen and (max-width: 732px) {
    .Home .home-title {
        font-size: 2.5rem;
    }

    .Home .home-description .inventions-info {
        width: 80%;
        margin-bottom: .5rem;
    }

    .Home .apps {
        flex-wrap: wrap;
        width: 20rem;
        justify-content: center;
    }

    .apps .app {
        margin-top: .7rem;
    }

    .apps .app .app-icon-container {
        width: 4.5rem;
        height: 4.5rem;
        padding: 1.1rem;
        margin-bottom: .1rem;
    }

    .apps .app .app-title {
        font-size: .84rem;
    }
}