/* styles fot login page */

.Login {
    width: 100%;
    height: 100%;
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.Login * {
    font-family: 'Poppins', sans-serif;
}
/* login form */
.Login .login-form {
    width: 24rem;
    height: 26rem;
    background: linear-gradient(136.35deg, #000354 0%, rgba(0, 13, 33, 0.9) 18.14%, #380245 76.56%, #300034 83.52%);
    border-radius: 1rem;
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .4rem;
}

/* form header */
.login-form .form-header {
    /* background-color: royalblue; */
    height: 30%;
    width: 100%;
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.form-header h1 {
    font-weight: 500;
}
.form-header h6 {
    font-weight: 300;
}

/* form body */
.login-form .form-body {
    /* background-color: blueviolet; */
    height: 37%;
    width: 100%;
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.login-form .form-body .input-text-container {
    width: 80%;
    height: max-content;
    /* background-color: yellow; */
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.form-body .input-text-container label {
    font-size: .7rem;
    color: #fff;
    font-weight: 300;
    margin: 0 0 .05rem .25rem;
}
.form-body .input-text-container input {
    height: 2.4rem;
    width: 100%;
    padding: .2rem .5rem;
    color: #ffffffcc;
    border: 1.5px solid #fff;
    border-radius: .3rem;
    background-color: transparent;
    outline: none;
}
.form-body .rememberme-container {
    width: 80%;
    height: max-content;
    color: #fff;
    font-size: .85rem;
    /* layout */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rememberme-container .input-container label {
    font-weight: 300;
    margin-left: .3rem;
}
.rememberme-container .input-container input {
    width: .9rem;
    height: .9rem;
}
.rememberme-container code {
    font-size: .78rem;
    font-weight: 300;
}

/* form footer */
.login-form .form-footer {
    /* background-color: green; */
    height: 33%;
    width: 100%;
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .4rem 0;
}
.form-footer input[type=submit] {
    width: 80%;
    height: 2.4rem;
    outline: none;
    border: none;
    background-color: #eeeeeec0;
    cursor: pointer;
    border-radius: .4rem;
    margin-bottom: .5rem;
    font-size: .8rem;
    font-weight: 600;
}
.form-footer .register-link {
    font-size: .75rem;
    color: #fff;
    font-weight: 300;
}
.form-footer .register-link span {
    color: #175CC5;
}