/* styles for user page */

.User {
    /* background-color: rebeccapurple; */
    width: 100%;
    height: 100%;
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 2rem;
}

/* user header */
.User .user-header {
    width: max-content;
    /* background-color: royalblue; */
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.User .user-header img {
    width: 11rem;
    border-radius: 51%;
    margin-bottom: .7rem;
}
.User .user-header .fullname {
    font-size: 1.5rem;
    margin-bottom: .1rem;
}
.User .user-header .username-x-email {
    color: #00000090;
    font-size: .9rem;
    font-weight: 500;
}
/* user header buttons */
.User .user-header .social-btns {
    margin-top: .7rem;
}
.User .user-header .btn-follow,
.User .user-header .btn-invite-to-project {
    border-radius: 2rem;
    font-size: .7rem;
    padding: .1rem 1.3rem;
    cursor: pointer;
    color: #fff;
}
.User .user-header .social-btns .btn-follow {
    background-color: #0085FF;
    border: 2px solid #005CB0;
    margin-right: .3rem;
}
.User .user-header .social-btns .btn-follow.following {
    color: #0085FF;
    background-color: #ddd;
    font-weight: 400;
}
.User .user-header .social-btns .btn-invite-to-project {
    background-color: #6A4E6D;
    border: 2px solid #150628;
}

/* user data */
.User .user-data {
    /* background-color: lightseagreen; */
    /* layout */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.User .user-data .data-item {
    width: 7rem;
    aspect-ratio: 4/3;
    margin: 0 1rem;
    border: 3px solid #666;
    border-radius: 1.35rem;
    cursor: pointer;
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* clip */
}
.User .user-data .data-item h1 {
    /* data-item counter */
    font-size: 1.8rem;
    font-weight: 400;
    height: 2.25rem;
}
.User .user-data .data-item h5 {
    /* data-item title */
    color: #00000096;
}