/* styles for members-section @ invention-viewer */

/* members section */
.members-section {
    width: 24rem;
    aspect-ratio: 26/16;
    margin-right: 2rem;
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2rem;
    /* animation & init values */
    animation: slideDown .4s .75s forwards;
    transform: translateY(-15%);
    opacity: 0;
}
.section-header {
    width: 100%;
    height: 2rem;
    /* layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .7rem;
}
.content {
    background-color: #888;
    width: 100%;
    border-radius: 8px;
    height: max-content;
    max-height: 15rem;
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: .8rem 1rem .6rem 1rem;
    overflow-y: auto;
}
.content .counter-title {
    padding: 0 1.1rem;
    font-size: .7rem;
    margin-bottom: .5rem;
}

/* member item */
.member-item {
    /* box-shadow: -5px 0 8px #00000066; */
    width: 100%;
    height: 3.6rem;
    /* background: linear-gradient(to right, #666, #888); */
    background: #707070;
    border-radius: 4rem 2rem 2rem 4rem;
    margin-bottom: .65rem;
    /* layout */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
/* profile-pic @ member-item */
.member-item .profile-pic,
.member-item .profile-pic img {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 51%;
}
/* user-data @ member-item */
.member-item .user-data {
    height: 100%;
    width: 11.5rem;
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: .6rem;
}
.member-item .user-data .name {
    font-size: 1.15rem;
}
.member-item .user-data .username-x-email {
    font-size: .7rem;
    color: #000000a8;
}
/* social-btns @ member-item */
.member-item .social-btns {
    width: calc(100% - 11.5rem - 3.6rem);
    height: 100%;
    /* background-color: rebeccapurple; */
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: .2rem 0;
}
/* hide buttons - item points to himself */
.member-item .social-btns.hide-btns {
    display: none;
}
.member-item .social-btns .btn-follow,
.member-item .social-btns .btn-invite-to-project {
    border-radius: 1rem;
    width: 90%;
    height: 1.2rem;
    font-size: .6rem;
    font-weight: 300;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.member-item .social-btns .btn-follow {
    background-color: #0085FF;
    border: 2px solid #005CB0;
}
.member-item .social-btns .btn-follow.following {
    color: #0085FF;
    background-color: #ddd;
    font-weight: 400;
}
.member-item .social-btns .btn-invite-to-project {
    background-color: #6A4E6D;
    border: 2px solid #150628;
}


/* animation */

@keyframes slideDown {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}