/* styles for list-followers component */

/* list wrapper - base position with small dimensions (for later referencing parent position) */
.list-followers-wrapper {
    width: 1px;
    height: 1px;
    overflow: visible;
    /* clip */
    clip-path: circle(0px);
    transition: clip-path .9s ease;
}
.list-followers-wrapper.show {
    clip-path: circle(100vw);
}

.list-followers-wrapper .list-followers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition & init values */
    transition: background-color .8s ease;
    background-color: #ccc;
    pointer-events: none;
}
.list-followers-wrapper.show .list-followers {
    background-color: var(--app-bg-color);
    pointer-events: visible;
}

/* content */
.content {
    min-width: 30rem;
    height: 60%;
    border: 3.5px solid #666;
    border-radius: 1.85rem;
    padding: 1rem;
}
/* content header */
.content .content-header {
    width: 100%;
    border-bottom: 1px solid #00000053;
    height: 3.6rem;
    /* layout */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.content-header .profile-pic {
    height: 100%;
    cursor: pointer;
    /* layout */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.content-header .profile-pic img {
    height: 100%;
    border-radius: 51%;
}
.content-header .input-search-followers {
    background-color: #ddd;
    border: 2.5px solid #200E32;
    height: 90%;
    width: 55%;
    border-radius: 1rem;
    /* layout */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-header .input-search-followers .icon-search {
    height: 100%;
    width: 2.4rem;
    padding: .3rem;
}
.content-header .input-search-followers input {
    background-color: transparent;
    outline: none;
    border: none;
    height: 100%;
    width: calc(100% - 2.4rem);
    padding: 0 .15rem;
    padding-top: .15rem;
}
/* content followers-list */
.content .content-followers-list {
    width: 100%;
    height: calc(100% - 3.6rem);
    padding-top: 1rem;
    overflow-y: auto;
    padding: .6rem .4rem;
}
/* follower-item */
.content .follower-item {
    /* box-shadow: -5px 0 8px #00000066; */
    width: 100%;
    height: 3.6rem;
    background: #999;
    border-radius: 4rem 2rem 2rem 4rem;
    margin-bottom: .65rem;
    /* layout */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
/* profile-pic @ follower-item */
.follower-item .profile-pic,
.follower-item .profile-pic img {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 51%;
}
/* user-data @ follower-item */
.follower-item .user-data {
    height: 100%;
    width: 13.5rem;
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: .6rem;
}
.follower-item .user-data .name {
    font-size: 1.25rem;
    font-weight: 500;
    height: 1.3rem;
}
.follower-item .user-data .username-x-email {
    font-size: .7rem;
    color: #000000a8;
}
/* social-btns @ follower-item */
.follower-item .social-btns {
    width: calc(100% - 13.5rem - 3.6rem);
    height: 100%;
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: .2rem 0;
}
.follower-item .social-btns .btn-follow,
.follower-item .social-btns .btn-invite-to-project {
    border-radius: 1rem;
    width: 90%;
    height: 1.2rem;
    font-size: .6rem;
    font-weight: 300;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.follower-item .social-btns .btn-follow {
    background-color: #0085FF;
    border: 2px solid #005CB0;
}
.follower-item .social-btns .btn-follow.following {
    color: #0085FF;
    background-color: #ddd;
    font-weight: 400;
}
.follower-item .social-btns .btn-invite-to-project {
    background-color: #6A4E6D;
    border: 2px solid #150628;
}