/* styles for list-inventions component */

/* list wrapper - base position with small dimensions (for later referencing parent position) */
.list-inventions-wrapper {
    width: 1px;
    height: 1px;
    overflow: visible;
    /* clip */
    clip-path: circle(0px);
    transition: clip-path 1s ease;
}

.list-inventions-wrapper.show {
    clip-path: circle(200vw);
}

.list-inventions-wrapper .list-inventions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    /* layout */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* transition & init bvalues */
    transition: background-color .8s ease;
    background-color: #ccc;
    pointer-events: none;
}

.list-inventions-wrapper.show .list-inventions {
    background-color: var(--app-bg-color);
    pointer-events: visible;
}

/* content */
.content {
    width: 100%;
    height: 100%;
    padding: 5rem 4rem 0 4rem;
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
}

/* section header */
.section-header {
    width: 100%;
    height: 3rem;
    margin: 1rem 0;
    /* layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header .title {
    height: 100%;
    /* layout */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1.5rem;
}

.section-header .title img {
    height: 100%;
    aspect-ratio: 1/1;
    margin-right: .9rem;
    border-radius: 51%;
}

.section-header .title .username {
    font-weight: 400;
}

.section-header .select-show-as {
    font-weight: 600;
}

.section-header .select-show-as::before {
    content: "Show as: ";
    font-weight: 400;
}

/* inventions & shared-inventions */
.inventions,
.shared-inventions {
    width: 100%;
    height: max-content;
    margin-bottom: 3rem;
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}