/* styles for data-lists shared component */

/* user data */
.user-data {
    /* layout */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-data .data-item {
    width: 7rem;
    aspect-ratio: 4/3;
    margin: 0 1rem;
    border: 3px solid #666;
    border-radius: 1.35rem;
    cursor: pointer;
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* clip */
}
.user-data .data-item h1 {
    /* data-item counter */
    font-size: 1.8rem;
    font-weight: 400;
    height: 2.25rem;
}
.user-data .data-item h5 {
    /* data-item title */
    color: #00000096;
}


/* responsive */

@media screen and (max-width: 560px) {
    .user-data .data-item {
        margin: 0 .4rem;
        width: 6rem;
        aspect-ratio: 6/5;
    }
}