/* styles for user-item (shared) component */

.user-item {
    box-shadow: -5px 0 8px #00000055;
    width: 100%;
    height: 3.6rem;
    background: #999;
    border-radius: 4rem 2rem 2rem 4rem;
    margin-bottom: .65rem;
    /* layout */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
/* profile-pic @ user-item */
.user-item .profile-pic,
.user-item .profile-pic img {
    height: 100%;
    width: 3.6rem;
    border-radius: 51%;
}
/* user-data @ user-item */
.user-item .user-data:hover {
    text-decoration: 1px #00000066 underline;
}
.user-item .user-data {
    cursor: pointer;
    height: 100%;
    width: calc(100% - 10rem);
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: .6rem;
    overflow: hidden;
}
.user-item .user-data .name {
    font-size: 1.25rem;
    font-weight: 500;
    height: 1.3rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 95%;
}
.user-item .user-data .username-x-email {
    font-size: .7rem;
    color: #000000a8;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 95%;
}
/* social-btns @ user-item */
.social-btns {
    width: 6.4rem;
    height: 100%;
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: .2rem 0;
}
/* START social buttons on single-user-mode */
.social-btns.single-user-mode {
    flex-direction: row;
    height: max-content;
    width: max-content;
    margin-top: .2rem;
}
.social-btns.single-user-mode .btn-follow,
.social-btns.single-user-mode .btn-invite-to-project {
    border-radius: 2rem;
    font-size: .7rem;
    padding: 0 1.3rem;
    cursor: pointer;
    color: #fff;
    width: max-content;
    height: 1.4rem;
}
.social-btns.single-user-mode .btn-follow {
    margin-right: .3rem;
}
/* END social buttons on single-user-mode */
.social-btns .btn-follow,
.social-btns .btn-invite-to-project {
    border-radius: 1rem;
    width: 90%;
    height: 1.2rem;
    font-size: .6rem;
    font-weight: 300;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.social-btns .btn-follow {
    background-color: #0085FF;
    border: 2px solid #005CB0;
}
.social-btns .btn-follow.following {
    color: #0085FF;
    background-color: #ddd;
    font-weight: 400;
}
.social-btns .btn-invite-to-project {
    background-color: #6A4E6D;
    border: 2px solid #150628;
    position: relative;
}
.social-btns .btn-invite-to-project.disable-btn {
    opacity: .65;
    cursor: default;
}
.btn-invite-to-project .Inventions-options {
    background-color: #222;
    border-radius: .3rem;
    position: absolute;
    bottom: 130%;
    right: -.5rem;
    width: max-content;
    min-width: calc(100% + 1rem);
    height: max-content;
    max-height: 8rem;
    overflow: auto;
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: .3rem;
    padding-top: .2rem;
    /* init styles and animations */
    transform: translateY(10%);
    opacity: 0;
    pointer-events: none;
    animation: onSlideShow .2s 0s forwards;

}
.btn-invite-to-project .Inventions-options .invention:not(:last-child) {
    border-bottom: 1px solid #66666666;
}
.btn-invite-to-project .Inventions-options .invention {
    width: 100%;
    /* height: 1.3rem; */
    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-invite-to-project .Inventions-options .invention:hover {
    background-color: #3f3f3f;
}
.btn-invite-to-project .Inventions-options .invention code {
    margin: .3rem .5rem;
    font-size: .7rem;
}


/* animations */

@keyframes onSlideShow {
    to {
        transform: translateY(0);
        opacity: 1;
        pointer-events: visible;
    }
}